.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 84px;
    cursor: pointer;
}

.burger {
    color: #fff;
    font-size: 24px;
}

.wrap::before {
    content: "";
    position: absolute;
    background-color: #5360CD;
    width: 1px;
    height: 100%;
    top: 0;
    left: 100%;
}

