.title {
    font-weight: 700;
    font-size: 32px;
    margin-top: 8px;
    color: #313037;
}

.wrap {
    display: flex;
    gap: 32px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    color: #8D8E97;
    margin-top: 24px;
}

.date {
    font-weight: 400;
    font-size: 16px;
    color: #8D8E97;
}

.footerIcon {
    font-size: 22px;
    color: #313037;
}

.footerWrap {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.iconBlock {
    display: flex;
    gap: 25px;
}

.card {
    max-width: 700px;
}
.bigImg{
    max-width: 250px;
}

.smallImg{
    max-width: 95px;
}

.middleImg {
    max-width: 350px;
    max-height: 250px;
    
}

.middleTitle {
    font-weight: 600;
    font-size: 18px;
    color: #313037;
    margin-top: 8px;
}

.middleCard {
    max-width: 500px;
}