.warning {
    color: red;
    border: 0;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
}

.primary {
    background-color: #2231AA;
    color: #fff;
    border: 0;
    padding: 16px 32px;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
}

.default {
    background-color: #E8E8E8;
    color: #313037;
    border: 0;
    padding: 16px 32px;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
}