.img_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text {
    width: 920px;
    margin: 0 auto 40px;
    p {
        margin-top: 45px;
        font-size: 18px;
        font-weight: 400;
    }
}