.form {
    width: 625px;
    border: 1px solid #DADADA;
    padding: 40px;
    margin: 0 auto 20px;
}

.noAccount {
    font-size: 16px;
    font-weight: 500;
    color: #9b9898;
}

.signUp {
    font-size: 16px;
    font-weight: 500;
    color: #2231AA;
    margin-left: 4px;
    cursor: pointer;
}

.wrap {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}