.searchIcon {
    font-size: 24px;
    color: #fff;
}

.wrap {
    min-width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.wrap::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    background-color: #5360CD;
    height: 100%;
}

.wrap::before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    width: 1px;
    background-color: #5360CD;
    height: 100%;
}